body {
  font-family: 'Press Start 2P', monospace;
  background: url('https://raw.githubusercontent.com/zhaz1k/tapgame-/main/photo_2025-11-07_20-32-53.jpg');
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

#block {
  width: 100px;
  height: 100px;
  background: url('https://i.imgur.com/iz5s2uG.png');
  background-size: cover;
  margin: 20px auto;
  cursor: pointer;
  image-rendering: pixelated;
}
